# Vanilla directories
/assets
/crash-reports
/libraries
/versions
/logs
/resourcepacks
/saves
/server-resource-packs
/world

# Vanilla files
/launcher.jar
/launcher.pack.lzma
/launcher_profiles.json
#/options.txt
/servers.dat
/usernamecache.json
/usercache.json

# Forge directories
#/config
/mods
/asm

# Mod directories
/compendiumunlocks
/compendiumUpdates
/data
/journeymap
/dumps

# Mod files
/BotaniaVars.dat

# Server executables
/*.jar

# Server files
/eula.txt
#/whitelist.json
#/ops.json
#/banned-ips.json
#/banned-players.json
#/server.properties
/server-icon.png
